html, body {
    height: device-height;
    width: device-width;
    position: center;
    margin: 10px;
    padding: 0;
}

canvas {
    display: flexed;
}

body {
    position: center;
}

h1 {
    font-family: lores-9-plus-narrow, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3em
    
}

h2 {
    font-family: lores-9-plus-narrow, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2em
}


h3 {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em
}

h4 {
    font-family: lores-9-plus-narrow, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
}
    
h5 {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    }

img {
    max-width: 100%;
    height: auto;
}

.scale-down {
    object-fit: scale-down;
}

.slide-right {
    width: device-width;
    margin-left: 0px;
    max-width: 500px
}

    .slide-right h2 {
        animation: 2s slide-right 2s forwards;
        transform: translateX(-100%);
    }

@keyframes slide-right {
    to {
        transform: translateX(0);
    }
}